[{
	"resource": "/h:/FonaBot.com/Website/FonaBot.com - Deployed AWS/fonabot-frontend/vite.config.ts",
	"owner": "typescript",
	"code": "1005",
	"severity": 8,
	"message": "',' expected.",
	"source": "ts",
	"startLineNumber": 22,
	"startColumn": 1,
	"endLineNumber": 22,
	"endColumn": 2
}]