# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output directory
dist/

node_modules
dist-ssr
*.local
.env
.env.*
.env.local
.env.development
.env.production

# Nginx configuration (if you decide to always ignore it from this path)
fonabot-frontend/nginx.conf

# Backup directory and its contents
fonabot-frontend/.backups/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sensitive Readme files
README-Deployment.md